@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .show-link {
    @apply inline-block px-5 pb-2 mx-1 my-2 text-xs font-medium text-center uppercase bg-green-500 rounded-r-full pt-7 hover:bg-green-700 text-neutral-50;
  }
  .add-link {
    @apply hover:bg-blue-800  inline-block rounded-md bg-blue-500
              px-5 pb-2 pt-2.5 text-xs mx-1 my-2 font-medium uppercase leading-normal text-neutral-50;
  }

  .del-link {
    @apply hover:bg-orange-800  inline-block rounded-md bg-orange-500
              px-5 pb-2 pt-2.5 text-xs mx-1 my-2 font-medium uppercase leading-normal text-neutral-50;
  }


  .add-button {
    @apply inline-block px-5 pt-4 pb-2 mx-1 mt-4 text-2xl font-medium leading-normal uppercase bg-blue-500 rounded-md hover:bg-blue-800 text-neutral-50;
  }

  .del-button {
    @apply inline-block px-5 pt-4 pb-2 mx-1 mt-4 text-2xl font-medium leading-normal uppercase bg-orange-500 rounded-md hover:bg-orange-800 text-neutral-50;
  }

  .edit-button {
    @apply inline-block px-5 pt-4 pb-2 mx-1 mt-4 text-2xl font-medium leading-normal uppercase bg-green-500 rounded-md hover:bg-green-800 text-neutral-50;
  }


  .pr-show {
    @apply px-4 py-1 my-3 font-serif text-2xl font-semibold truncate rounded-full bg-slate-400;
  }

  .notice-show {
    @apply inline-block px-3 py-2 mb-5 text-3xl font-medium text-green-500 rounded-lg bg-green-50;
  }

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
