@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .blue-xs-btn {
    @apply inline-block px-3 pt-2 mx-1 my-2 text-xs font-medium text-center uppercase bg-blue-500 rounded-r-full sm:pt-4 hover:bg-blue-700 text-neutral-50;
  }

  .cyan-xs-btn {
    @apply inline-block px-3 pt-2 pb-2 mx-1 my-2 text-xs font-medium leading-normal uppercase rounded-md bg-cyan-900 hover:bg-cyan-500 text-neutral-50;
  }

  .green-xs-btn {
    @apply inline-block px-3 pt-2 pb-2 mx-1 my-2 text-xs font-medium leading-normal uppercase bg-green-500 rounded-md hover:bg-green-800 text-neutral-50;
  }

  .red-xs-btn {
    @apply inline-block px-3 pt-2 pb-2 mx-1 my-2 text-xs font-medium leading-normal uppercase bg-red-500 rounded-md hover:bg-orange-900 text-neutral-50;
  }


  .blue-xl-btn {
    @apply inline-block px-5 pt-4 pb-2 mx-1 mt-4 text-2xl font-medium leading-normal uppercase bg-blue-500 rounded-md hover:bg-blue-800 text-neutral-50;
  }

  .orange-xl-btn {
    @apply inline-block px-5 pt-4 pb-2 mx-1 mt-4 text-2xl font-medium leading-normal uppercase bg-orange-500 rounded-md hover:bg-orange-800 text-neutral-50;
  }

  .green-xl-btn {
    @apply inline-block px-5 pt-4 pb-2 mx-1 mt-4 text-2xl font-medium leading-normal uppercase bg-green-500 rounded-md hover:bg-green-800 text-neutral-50;
  }


  .pr-show {
    @apply px-4 py-1 font-serif text-xl font-normal bg-slate-400;
  }

  .notice-show{
    @apply  px-3 py-2 text-xl font-medium text-center text-green-500 rounded-lg bg-green-50;
  }

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
