
<div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">

<table id='product_tbl' class="min-w-full divide-y divide-gray-200 dark:divide-gray-700 hover:border-spacing-2">
    <%= thead_tag ['Attribute', 'Value'] %>
    <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
      <% product.attributes.each do |attr_name, attr_value| %>
        <tr class="text-xl text-yellow-300 hover:bg-gray-400 hover:text-blue-900">
            <td class="px-8 py-4 font-light border"> <strong><%= attr_name.capitalize %>:</strong> </td>
            <td class="px-8 py-4 font-sans italic border hover:not-italic"> <%= attr_value %> </td>
        </tr>
      <% end %>
  </tbody>
</table>
</div>
