<div class="flex flex-col items-center w-full">
  <%= render "layouts/notice" %>

  <h1 class="justify-center p-3 text-3xl font-semibold rounded-md bg-slate-200">Product List: buy more pay less</h1>

  <div class="container flex px-5 py-2 mx-auto ">
    <div class="flex flex-wrap w-5/6">
      <% @products.each do |product| %>
        <div class="w-1/4">
          <%= render product %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex justify-center">
    <%= link_to 'New product', new_product_path, class:"add-button" %>
     <%= link_to 'Go to cart', cart_path, class:"add-button" %>
  </div>
</div>
